.section-intro {
    color: var(--color-grey-dark);
    background-image: url("/img/header-cards.png");
    background-repeat: no-repeat;
    background-position: top right;
    height: 35rem;
    margin-top: 7rem;

    &__title {
        padding-top: 5rem;
    }

    @include break(phone) {
        .heading-primary {
            font-size: 2.5rem;
            line-height: 2.5rem;
        }
        .heading-secondary {
            font-size: 2rem;
        }
    }

    @include break(tab-port) {
        height: 50rem;

        background-position: 100% -800%;

        .buttons {
            display: flex;
            flex-direction: column;

            .btn {
                width: 80%;
                margin: 2rem 0 0 0 !important;
                text-align: center;
            }
        }
    }
    @include break(tab-land) {
        height: 55rem;

        background-position: 100% 2200%;

        & > div {
            margin: 0 auto !important;
            display: flex;
            flex-direction: column;
            justify-content: center;
        }

        &__title {
            text-align: center;
        }
        &__subtitle {
            text-align: center;
        }

        .buttons {
            display: flex;
            justify-content: center;
            align-items: center;
        }

        & > div > div > .btn {
            margin-top: 2.5rem !important;
            align-self: center;

            margin-bottom: 2.5rem;
        }
    }
}

.section-features {
    background-color: var(--color-grey-light);
    padding-bottom: 10rem;

    

    .heading-primary {
        padding-top: 10rem;
    }
    .features-wrapper-flex {
        display: flex;
        justify-content: space-around;

        @include break(tab-land) {
            justify-content: flex-start;
        }
    }

    .features-container {
        margin-top: 3rem;
        display: flex;
        flex-direction: column;
        width: 40%;

        @include break(tab-land) {
            width: 100%;
        }
    }

    .feature {
        display: flex;
        flex-direction: row;

        &__icon {
            padding: 2rem 3rem;
            display: inline;
        }

        &__heading {
            font-size: 2.2rem;
        }
        &__desc {
            font-size: 1.8rem;
            font-weight: 300;
            margin-bottom: 4rem;
        }
    }

    .iphone-mockup {
        display: block;
        max-width: 55rem;
        max-height: 55rem;

        @include break(tab-land) {
            display: none;
        }
    }

    @include break(phone) {
        padding-bottom: 2rem;

        .heading-primary {
            padding-top: 0 !important;
            text-align: center;
            font-size: 2.5rem;
            margin: 1rem auto !important;
        }
        
        .feature {
            &__icon {
                display: none;
            }

            &__heading {
                margin-left: 1rem;
                font-size: 2rem;
                font-weight: 600;
            }
            &__desc {
                font-size: 1.5rem;
                margin-left: 1rem;
                font-weight: 300;
                
            }
            
        }
        
    }
}

// Section mobilty
.mobility {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-red);
    color: #fff;
    height: 20rem;

    @include break(tab-port) {
        flex-direction: column;
    }

    

    &__devices {
        display: flex;

        @include break(tab-port) {
            margin-top: 2rem;
        }

        &--icon {
            fill: #fff;
            
        }
        &--icon:not(:last-child) {
            margin-right: 2rem;
        }
    }

    &__description {
        width: 30%;
        margin-left: 3rem;

        @include break(tab-port) {
            width: 90%;
            margin-top: 2rem;
        }

        &--heading {
            font-size: 2.5rem;
            font-weight: 600;
        }
        &--text {
            font-size: 1.2rem;

            @include break(tab-port) {
                margin-bottom: 2rem;
            }
        }
    }

    @include break(phone) {
        height: 25rem;
        &__description {
            order: 0;
            margin: 0;
            text-align: center;
            
        }
        &__devices {
            order: 1;
            width: 94%;
            
            &--icon:first-child {
                overflow: hidden;
            }
            &--icon:last-child {
                overflow: hidden;
            }
            
        }
    }
}

.plans {
    .heading-primary {
        text-align: center;
        margin-top: 10rem;

        @include break(tab-port) {
            margin-bottom: 3rem;
        }
    }
    &__heading-secondary {
        font-size: 1.2rem;
        text-transform: uppercase;
        margin-top: 6rem;
        text-align: center;
        color: #a0a0a0;

        @include break(tab-port) {
            display: none;
        }
    }
    &__arrow {
        text-align: center;
        color: var(--color-blue);

        @include break(tab-port) {
            display: none;
        }
    }

    .card-container {
        display: flex;
        justify-content: center;
        align-items: flex-start;

        @include break(tab-port) {
            flex-direction: column;
            align-items: center;
        }

        .card {
            margin-right: 1rem;
            box-shadow: 0 1rem 6rem rgba(0, 0, 0, 0.3);
            border-radius: 0.1rem;
            align-self: center;

            @include break(tab-port) {
                width: 50%;
                margin-bottom: 2rem;
                margin-right: 0 !important;
            }
            @include break(phone){
                width: 80%;
            }

            &__heading-primary {
                margin-top: 3rem;
                text-align: center;
                font-size: 2.5rem;
                padding: 0 3rem;
            }
            &__heading-secondary {
                text-align: center;
                font-size: 2rem;

                &--light {
                    font-size: 1.2rem;
                    font-weight: 200;
                    text-align: center;
                }
            }

            &__item {
                display: flex;
                flex-direction: row;
                align-items: center;

                &-icon {
                    margin-top: 0.3rem;
                    margin-left: 2rem;
                    fill: #a0a0a0;

                    &--white {
                        fill: #fff;
                    }
                }

                &-text {
                    margin-left: 1rem;
                    font-size: 1.35rem;
                    font-weight: 200;
                    color: #a0a0a0;

                    &--white {
                        color: #fff;
                    }
                }
            }
            &__desc {
                text-align: center;
                font-size: 1.5rem;

                @include break(phone) {
                    margin-top: 2rem !important;
                }
            }
            .btn-center {
                margin: 1rem !important;
            }
            &__link {
                color: var(--color-blue);
                display: flex;
                justify-content: center;
                align-items: center;
                text-decoration: none;
                font-size: 1.3rem;
                font-weight: 600;
                padding-bottom: 2rem;

                &--white {
                    color: #fff;
                    padding-bottom: 0 !important;
                }

                
            }

            &--blue {
                background-color: var(--color-blue);
                color: #fff;
                margin-right: 1rem;

                @include break(tab-port) {
                    width: 60%;
                }
                @include break(phone) {
                    width: 85%;
                }
            }
        }
    }

    &__disclaimer {
        text-align: center;
        color: var(--color-grey-light-2);


        @include break(phone) {
            margin-top: 3rem !important;
        }
    }

    .subplan:not(:last-child) {
        margin-top: 5rem;
    }
    .subplan {
        background-color: var(--color-grey-light-1);
        margin-bottom: 1rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 10rem;

        

        &__text {
            @include break(tab-land) {
                margin: 0 auto !important;
            }
        }

        @include break(tab-land) {
            flex-direction: column;
            justify-content: center;
            height: 15rem;
            // margin: 0 auto !important;
        }

        @include break(phone) {
            height: 13rem;
        }

        &__heading {
            font-size: 2rem;

            @include break(tab-land) {
                text-align: center;
            }
        }
        &__desc {
            font-size: 1.5rem;

            @include break(tab-land) {
                text-align: center;
                margin: 1rem auto !important;
            }

            @include break(phone) {
                display: none;
            }
        }

        .btn-parent-bg {
            background-color: var(--color-grey-ligt-1) !important;
            padding: 10px 60px !important;

            @include break(tab-land) {
                margin: 0 !important;
            }
            @include break(phone) {
                margin-top: 2rem !important;
            }
        }
    }
}

.footer {
    background-color: var(--color-grey-dark);
    color: #fff;

    display: flex;

    flex-direction: row;
    // justify-content: space-between;

    @include break(tab-land) {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    &__right {
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;

        @include break(tab-land) {
            width: 100%;
            // justify-content: center;
            align-items: center;
        }

        &-logo {
            @include break(tab-land) {
                margin: 3rem auto 0 auto !important;
            }
        }

        .socials-container {
            align-self: center;
            display: flex;
        }
        .socials {
            // align-self: center;
            display: flex;
            flex-direction: row;

            @include break(tab-land) {
                margin: 3rem auto 0 auto !important;
            }

            &__item {
                list-style: none;
                border: .2rem solid #a0a0a0;
                border-radius: 50%;
                display: flex;
                align-items: center;
                justify-content: center;
                height: 3rem;
                width: 3rem;
                
            }
            &__item:not(:last-child) {
                margin-right: 2rem;
            }
            &__link {
                display: flex;
                justify-content: center;
                align-items: center;
            }
            &__icon {
                fill: #a0a0a0;
                
            }
        }
    }

    &__navigation-container {
        display: flex;
    }
    &__navigation {
        // width: 50%;
        padding: 7rem 0;

        @include break(tab-port) {
            display: none;
        }

        &--heading {
            width: 15rem;
            color: var(--color-blue);
            text-transform: uppercase;
            margin-bottom: 2rem;
        }
        &--item {
            list-style: none;
        }
        &--item:not(:last-child) {
            margin-bottom: 1.5rem;
        }
        &--link {
            text-decoration: none;
            color: var(--color-grey-light-3);
            font-weight: 600;
            font-size: 1.1rem;
        }
    }

    // Only on tablet portrait and phone
    .collapsible-navigation {
        width: 100%;
        margin-top: 3rem;
        display: none;
        // Show only on tablet portrait and phone
        @include break(tab-port) {
            display: flex;
        }
        justify-content: center;
        align-items: center;
        flex-direction: column;

        &__button {
            background-color: var(--color-grey-dark);
            color: var(--color-blue);
            border: none;
            border-top: 0.1rem solid var(--color-grey-light-3);
            // margin-top: 2rem;
            padding: 2rem 2rem;
            width: 95%;
            font-size: 1.2rem;
            font-weight: 600;
            font-family: inherit;
            text-align: left;
            text-transform: uppercase;
            outline: none;
        }

        &__content {
            margin-left: 3.7rem;

            display: none;
            padding-bottom: 2rem;
            font-size: 1.2rem;

            flex-direction: column;
            align-self: flex-start;

            & > li > a {
                color: var(--color-grey-light-1);
            }
        }
    }
}
.clone__disclaimer {
    font-weight: 700;
    text-align: center;
    padding: 0.5rem 0;
    background-color: var(--color-red);
    color: #fff;
}
