.btn {

    &,
    &:link,
    &:visited {
        
        display: inline-block;
        text-decoration: none;
        padding: 15px 60px;        
        border-radius: 100px;
        transition: all .2s;
        
        font-size: 1.2rem;
        transform-origin: center;
    }
    &:focus {
        outline: none;
    }
    &:hover {
        cursor: pointer;
    }
    &-center {
        display: flex;
        justify-content: center;
    }
    

    &__primary {
        
        
        &--red {
            
            background-color: var(--color-red);
            color: #fff;
            font-weight: 600;
            border: none;
        }
        &--grey {
            background-color: var(--color-grey-light-2);
            color: #fff;
            font-weight: 600;
            border: none;
        }
        &--white {
            background-color: #fff;
            color: var(--color-grey-dark);
            font-weight: 600;
            border: none; 
        }
        &--orange {
            background-color: var(--color-orange);
            color: #fff;
            font-weight: 600;
            border: none;
        }
        &--pink {
            background-color: var(--color-pink);
            color: #fff;
            font-weight: 600;
            border: none;
        }
    }

    &__secondary {


        &--dark {
            font-weight: 600;
            padding: 13px 38px;
            // background-color: #fff;
            color: var(--color-grey-dark);
            border: 2px solid var(--color-grey-dark);

        }

    }

    



    
    


}