@import url(https://fonts.googleapis.com/css?family=Open+Sans&display=swap);/*

0 - 600px -> Phone
600-900px -> Portrait tablet
900-1200px -> Landscape tablet
1200-1800 -> Normal styles
1800+ -> Big screens and desktops


$breakpoint argument choices:
- phone
- tab-port
- tab-land
- big-desktop


ORDER: Base + typography > general layout + grid > page layout > components
*/

:root {
  --color-red: #ED5668;
  --color-blue: #3497C6;
  --color-orange: #FCA93D;
  --color-grey-light: #F0F0F0;
  --color-grey-dark: #32323D;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

@media only screen and (max-width: 75em) {
  html {
    font-size: 56.25%;
  }
}

@media only screen and (max-width: 56.25em) {
  html {
    font-size: 50%;
  }
}

@media only screen and (max-width: 112.5em) {
  html {
    font-size: 75%;
  }
}

body {
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  line-height: 1.7;
}

