@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700&display=swap);/*

0 - 600px -> Phone
600-900px -> Portrait tablet
900-1200px -> Landscape tablet
1200-1800 -> Normal styles
1800+ -> Big screens and desktops


$breakpoint argument choices:
- phone
- tab-port
- tab-land
- big-desktop


ORDER: Base + typography > general layout + grid > page layout > components
*/

:root {
  --color-red: #ED5668;
  --color-blue: #3497C6;
  --color-blue-dark: #0D6188;
  --color-orange: #FCA93D;
  --color-grey-light: #F9F9F9;
  --color-grey-dark: #32323D;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

@media only screen and (max-width: 75em) {
  html {
    font-size: 56.25%;
  }
}

@media only screen and (max-width: 56.25em) {
  html {
    font-size: 50%;
  }
}

@media only screen and (max-width: 112.5em) {
  html {
    font-size: 75%;
  }
}

body {
  box-sizing: border-box;
  color: var(--color-grey-dark);
}

body {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  line-height: 1.7;
}

.heading-primary {
  font-size: 3.5rem;
  font-weight: 600;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  line-height: 4rem;
  letter-spacing: 0.2rem;
}

.heading-secondary {
  font-size: 2.5rem;
  font-weight: 600;
}

.heading-secondary--red {
  color: var(--color-red);
}

.u-center-text {
  text-align: center !important;
}

.u-margin-bottom-big {
  margin-bottom: 10rem !important;
}

.u-margin-bottom-medium {
  margin-bottom: 4rem !important;
}

.u-margin-bottom-small {
  margin-bottom: 1.5rem !important;
}

.u-margin-top-xbig {
  margin-top: 13rem !important;
}

.u-margin-top-big {
  margin-top: 10rem !important;
}

.u-margin-top-medium {
  margin-top: 4rem !important;
}

.u-margin-top-small {
  margin-top: 1.5rem !important;
}

.u-margin-left-big {
  margin-left: 10rem !important;
}

.u-margin-left-medium {
  margin-left: 4rem !important;
}

.u-marign-left-small {
  margin-left: 1.5rem !important;
}

.u-marign-right-big {
  margin-right: 10rem !important;
}

.u-margin-right-medium {
  margin-right: 4rem !important;
}

.u-margin-right-small {
  margin-right: 1.5rem !important;
}

.btn,
.btn:link,
.btn:visited {
  display: inline-block;
  text-decoration: none;
  padding: 15px 60px;
  border-radius: 100px;
  transition: all 0.2s;
  font-size: 1.2rem;
  transform-origin: center;
}

.btn__primary--red {
  background-color: var(--color-red);
  color: #fff;
  font-weight: 600;
  border: none;
}

.btn__secondary--dark {
  font-weight: 600;
  padding: 13px 38px;
  background-color: #fff;
  color: var(--color-grey-dark);
  border: 2px solid var(--color-grey-dark);
}

.header {
  display: flex;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  font-size: 1.7rem;
  height: 7rem;
  justify-content: space-between;
  align-items: center;
  border-bottom: 3px solid var(--color-grey-light);
  background-color: #fff;
  opacity: 0.98;
}

.navigation {
  align-self: stretch;
  display: flex;
  align-items: center;
}

.navigation > * {
  padding: 0 2rem;
  margin-right: 7rem;
  height: 100%;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.navigation__list {
  list-style: none;
}

.navigation__item:not(:last-child) {
  margin-right: 2rem;
}

.navigation__link:link,
.navigation__link:visited {
  text-decoration: none;
  color: var(--color-grey-dark);
  font-weight: 600;
}

.navigation__link:hover,
.navigation__link:active {
  padding-bottom: 2rem;
  border-bottom: 4px solid var(--color-blue);
}

.navigation__button--primary-blue {
  font-size: 1.2rem;
  padding: 0.7rem 2.3rem;
  font-weight: 600;
  border-radius: 100px;
  background-color: var(--color-blue);
  color: #fff;
  text-align: center;
  text-decoration: none;
  transition: all 0.2s;
}

.navigation__button--primary-blue:hover {
  background-color: var(--color-blue-dark);
}

.navigation__button--primary-blue:active,
.navigation__button--primary-blue:focus {
  background-color: var(--color-blue);
}

.navigation__button--secondary--blue {
  background-color: orangered;
  padding: 0.5rem 2.1rem;
  border-radius: 100px;
  border: 2px solid var(--color-blue);
  background-color: #fff;
  color: var(--color-blue);
  font-size: 1.2rem;
  font-weight: 900;
  text-align: center;
  text-decoration: none;
  transition: all 0.2s;
}

.navigation__button--secondary--blue:hover {
  border: 2px solid var(--color-blue-dark);
  color: var(--color-blue-dark);
}

.navigation__button--secondary--blue:active,
.navigation__button--secondary--blue:focus {
  border: 2px solid var(--color-blue);
  color: var(--color-blue-dark);
}

.logo {
  margin-left: 7rem;
}

.section-intro {
  color: var(--color-grey-dark);
  background-image: url(/images/header-cards.png?f557fc2de9ff530e93747b2f24b0c4ed);
  background-repeat: no-repeat;
  background-position: top right;
  height: 35rem;
  margin-top: 7rem;
}

.section-intro__title {
  padding-top: 5rem;
}

.section-features {
  background-color: var(--color-grey-light);
  padding-bottom: 10rem;
}

.section-features .heading-primary {
  padding-top: 10rem;
}

.section-features .features-wrapper-flex {
  display: flex;
  justify-content: space-around;
}

.section-features .features-container {
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
  width: 40%;
}

.section-features .feature {
  display: flex;
  flex-direction: row;
}

.section-features .feature__icon {
  padding: 2rem 3rem;
  display: inline;
}

.section-features .feature__heading {
  font-size: 2.2rem;
}

.section-features .feature__desc {
  font-size: 1.8rem;
  font-weight: 300;
  margin-bottom: 4rem;
}

.section-features .iphone-mockup {
  display: block;
}

