@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800&display=swap);/*

0 - 600px -> Phone - phone
600-900px -> Portrait tablet - tab-port
900-1200px -> Landscape tablet - tab-land
1200-1800 -> Normal styles 
1800+ -> Big screens and desktops big-desktop


$breakpoint argument choices:
- phone
- tab-port
- custom-nav for navigation icon 
- tab-land
- big-desktop


ORDER: Base + typography > general layout + grid > page layout > components
*/

:root {
  --color-red: #ED5668;
  --color-blue: #3497C6;
  --color-blue-dark: #0D6188;
  --color-orange: #FCA93D;
  --color-grey-light: #F9F9F9;
  --color-grey-light-1: #F0F0F0;
  --color-grey-light-2: #8E8E94;
  --color-grey-light-3: #A0A0A0;
  --color-grey-dark: #32323D;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

@media only screen and (max-width: 75em) {
  html {
    font-size: 56.25%;
  }
}

@media only screen and (max-width: 56.25em) {
  html {
    font-size: 50%;
  }
}

@media only screen and (max-width: 112.5em) {
  html {
    font-size: 75%;
  }
}

body {
  box-sizing: border-box;
  color: var(--color-grey-dark);
}

body {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  line-height: 1.7;
}

.heading-primary {
  font-size: 3.5rem;
  font-weight: 600;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  line-height: 4rem;
  letter-spacing: 0.2rem;
}

.heading-secondary {
  font-size: 2.5rem;
  font-weight: 600;
}

.heading-secondary--red {
  color: var(--color-red);
}

.bold {
  font-weight: 600 !important;
}

.u-center-text {
  text-align: center !important;
}

.u-margin-bottom-big {
  margin-bottom: 10rem !important;
}

.u-margin-bottom-medium {
  margin-bottom: 4rem !important;
}

.u-margin-bottom-small {
  margin-bottom: 1.5rem !important;
}

.u-margin-top-xbig {
  margin-top: 15rem !important;
}

.u-margin-top-big {
  margin-top: 10rem !important;
}

.u-margin-top-medium {
  margin-top: 4rem !important;
}

.u-margin-top-small {
  margin-top: 1.5rem !important;
}

.u-margin-left-big {
  margin-left: 10rem !important;
}

.u-margin-left-medium {
  margin-left: 4rem !important;
}

.u-marign-left-small {
  margin-left: 1.5rem !important;
}

.u-marign-right-big {
  margin-right: 10rem !important;
}

.u-margin-right-medium {
  margin-right: 4rem !important;
}

.u-margin-right-small {
  margin-right: 1.5rem !important;
}

.btn,
.btn:link,
.btn:visited {
  display: inline-block;
  text-decoration: none;
  padding: 15px 60px;
  border-radius: 100px;
  transition: all 0.2s;
  font-size: 1.2rem;
  transform-origin: center;
}

.btn-center {
  display: flex;
  justify-content: center;
}

.btn__primary--red {
  background-color: var(--color-red);
  color: #fff;
  font-weight: 600;
  border: none;
}

.btn__primary--grey {
  background-color: var(--color-grey-light-2);
  color: #fff;
  font-weight: 600;
  border: none;
}

.btn__primary--orange {
  background-color: var(--color-orange);
  color: #fff;
  font-weight: 600;
  border: none;
}

.btn__secondary--dark {
  font-weight: 600;
  padding: 13px 38px;
  color: var(--color-grey-dark);
  border: 2px solid var(--color-grey-dark);
}

.header {
  display: flex;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  font-size: 1.7rem;
  height: 7rem;
  justify-content: space-between;
  align-items: center;
  border-bottom: 3px solid var(--color-grey-light);
  background-color: #fff;
  opacity: 0.98;
}

.navigation {
  align-self: stretch;
  display: flex;
  align-items: center;
}

.navigation > * {
  padding: 0 2rem;
  margin-right: 7rem;
  height: 100%;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.navigation__checkbox {
  display: none;
}

.navigation__button {
  display: none;
}

.navigation__background {
  display: none;
}

.navigation__item--hidden {
  display: none;
}

@media only screen and (max-width: 795px) {
  .navigation__checkbox {
    display: none;
  }

  .navigation__button {
    position: fixed;
    display: block;
    height: 3rem;
    width: 3rem;
    top: 1.5rem;
    right: 3rem;
    margin: 0 auto !important;
    z-index: 2000;
  }

  .navigation__icon {
    position: relative;
    margin-top: 2rem;
  }

  .navigation__icon,
  .navigation__icon::before,
  .navigation__icon::after {
    width: 3rem;
    height: 3px;
    background-color: black;
    display: inline-block;
    transform: all 0.2s;
  }

  .navigation__icon::before,
  .navigation__icon::after {
    content: "";
    position: absolute;
    left: 0;
    transition: all 0.2s;
  }

  .navigation__icon::before {
    top: -0.8rem;
  }

  .navigation__icon::after {
    top: 0.8rem;
  }

  .navigation__checkbox:checked + .navigation__button .navigation__icon {
    background-color: transparent;
  }

  .navigation__checkbox:checked + .navigation__button .navigation__icon::before {
    top: 0;
    transform: rotate(135deg);
  }

  .navigation__checkbox:checked + .navigation__button .navigation__icon::after {
    top: 0;
    transform: rotate(-135deg);
  }

  .navigation__checkbox:checked ~ .navigation__list {
    display: block;
    position: absolute;
    z-index: 1000;
    height: 100vh;
    width: 100%;
    background-color: #fff;
    top: 0;
    left: 0;
    opacity: 1;
    display: flex;
    flex-direction: column;
    align-content: flex-start;
  }

  .navigation__checkbox:checked ~ .navigation__list .navigation__item {
    display: none;
  }

  .navigation__checkbox:checked ~ .navigation__list .navigation__item--hidden {
    display: block;
    list-style: none;
    margin-top: 1.5rem;
  }

  .navigation__checkbox:checked ~ .navigation__list .navigation__item--hidden .navigation__link--hidden {
    color: var(--color-grey-dark);
    text-decoration: none;
    font-weight: 700;
  }

  .navigation__item {
    display: none;
  }
}

.navigation__list {
  list-style: none;
}

.navigation__item:not(:last-child) {
  margin-right: 2rem;
}

.navigation__link:link,
.navigation__link:visited {
  text-decoration: none;
  color: var(--color-grey-dark);
  font-weight: 600;
}

.navigation__link:hover,
.navigation__link:active {
  padding-bottom: 2rem;
  border-bottom: 4px solid var(--color-blue);
}

.navigation__button--primary-blue {
  font-size: 1.2rem;
  padding: 0.7rem 2.3rem;
  font-weight: 400;
  border-radius: 100px;
  background-color: var(--color-blue);
  color: #fff;
  text-align: center;
  text-decoration: none;
  transition: all 0.2s;
}

.navigation__button--primary-blue:hover {
  background-color: var(--color-blue-dark);
}

.navigation__button--primary-blue:active,
.navigation__button--primary-blue:focus {
  background-color: var(--color-blue);
}

.navigation__button--secondary--blue {
  background-color: orangered;
  padding: 0.5rem 2.1rem;
  border-radius: 100px;
  border: 2px solid var(--color-blue);
  background-color: #fff;
  color: var(--color-blue);
  font-size: 1.2rem;
  font-weight: 400;
  text-align: center;
  text-decoration: none;
  transition: all 0.2s;
}

.navigation__button--secondary--blue:hover {
  border: 2px solid var(--color-blue-dark);
  color: var(--color-blue-dark);
}

.navigation__button--secondary--blue:active,
.navigation__button--secondary--blue:focus {
  border: 2px solid var(--color-blue);
  color: var(--color-blue-dark);
}

.logo {
  margin-left: 7rem;
}

.section-intro {
  color: var(--color-grey-dark);
  background-image: url("/img/header-cards.png");
  background-repeat: no-repeat;
  background-position: top right;
  height: 35rem;
  margin-top: 7rem;
}

.section-intro__title {
  padding-top: 5rem;
}

@media only screen and (max-width: 56.25em) {
  .section-intro {
    height: 50rem;
    background-position: 100% -800%;
  }
}

@media only screen and (max-width: 75em) {
  .section-intro {
    height: 55rem;
    background-position: 100% 2200%;
  }

  .section-intro > div {
    margin: 0 auto !important;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .section-intro__title {
    text-align: center;
  }

  .section-intro__subtitle {
    text-align: center;
  }

  .section-intro .buttons {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .section-intro > div > div > .btn {
    margin-top: 2.5rem !important;
    align-self: center;
    margin-bottom: 2.5rem;
  }
}

.section-features {
  background-color: var(--color-grey-light);
  padding-bottom: 10rem;
}

.section-features .heading-primary {
  padding-top: 10rem;
}

.section-features .features-wrapper-flex {
  display: flex;
  justify-content: space-around;
}

@media only screen and (max-width: 75em) {
  .section-features .features-wrapper-flex {
    justify-content: flex-start;
  }
}

.section-features .features-container {
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
  width: 40%;
}

@media only screen and (max-width: 75em) {
  .section-features .features-container {
    width: 100%;
  }
}

.section-features .feature {
  display: flex;
  flex-direction: row;
}

.section-features .feature__icon {
  padding: 2rem 3rem;
  display: inline;
}

.section-features .feature__heading {
  font-size: 2.2rem;
}

.section-features .feature__desc {
  font-size: 1.8rem;
  font-weight: 300;
  margin-bottom: 4rem;
}

.section-features .iphone-mockup {
  display: block;
  max-width: 55rem;
  max-height: 55rem;
}

@media only screen and (max-width: 75em) {
  .section-features .iphone-mockup {
    display: none;
  }
}

.mobility {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-red);
  color: #fff;
  height: 20rem;
}

@media only screen and (max-width: 56.25em) {
  .mobility {
    flex-direction: column;
  }
}

.mobility__devices {
  display: flex;
}

@media only screen and (max-width: 56.25em) {
  .mobility__devices {
    margin-top: 2rem;
  }
}

.mobility__devices--icon {
  fill: #fff;
}

.mobility__devices--icon:not(:last-child) {
  margin-right: 2rem;
}

.mobility__description {
  width: 30%;
  margin-left: 3rem;
}

@media only screen and (max-width: 56.25em) {
  .mobility__description {
    width: 90%;
    margin-top: 2rem;
  }
}

.mobility__description--heading {
  font-size: 2.5rem;
  font-weight: 600;
}

.mobility__description--text {
  font-size: 1.2rem;
}

@media only screen and (max-width: 56.25em) {
  .mobility__description--text {
    margin-bottom: 2rem;
  }
}

.plans .heading-primary {
  text-align: center;
  margin-top: 10rem;
}

@media only screen and (max-width: 56.25em) {
  .plans .heading-primary {
    margin-bottom: 3rem;
  }
}

.plans__heading-secondary {
  font-size: 1.2rem;
  text-transform: uppercase;
  margin-top: 6rem;
  text-align: center;
  color: #a0a0a0;
}

@media only screen and (max-width: 56.25em) {
  .plans__heading-secondary {
    display: none;
  }
}

.plans__arrow {
  text-align: center;
  color: var(--color-blue);
}

@media only screen and (max-width: 56.25em) {
  .plans__arrow {
    display: none;
  }
}

.plans .card-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

@media only screen and (max-width: 56.25em) {
  .plans .card-container {
    flex-direction: column;
    align-items: center;
  }
}

.plans .card-container .card {
  margin-right: 1rem;
  box-shadow: 0 1rem 6rem rgba(0, 0, 0, 0.3);
  border-radius: 0.1rem;
  align-self: center;
}

@media only screen and (max-width: 56.25em) {
  .plans .card-container .card {
    width: 50%;
    margin-bottom: 2rem;
  }
}

.plans .card-container .card__heading-primary {
  margin-top: 3rem;
  text-align: center;
  font-size: 2.5rem;
  padding: 0 3rem;
}

.plans .card-container .card__heading-secondary {
  text-align: center;
  font-size: 2rem;
}

.plans .card-container .card__heading-secondary--light {
  font-size: 1.2rem;
  font-weight: 200;
  text-align: center;
}

.plans .card-container .card__item {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.plans .card-container .card__item-icon {
  margin-top: 0.3rem;
  margin-left: 2rem;
  fill: #a0a0a0;
}

.plans .card-container .card__item-icon--white {
  fill: #fff;
}

.plans .card-container .card__item-text {
  margin-left: 1rem;
  font-size: 1.35rem;
  font-weight: 200;
  color: #a0a0a0;
}

.plans .card-container .card__item-text--white {
  color: #fff;
}

.plans .card-container .card__desc {
  text-align: center;
  font-size: 1.5rem;
}

.plans .card-container .card__link {
  display: block;
  color: var(--color-blue);
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  font-size: 1.3rem;
  font-weight: 600;
  padding-bottom: 2rem;
}

.plans .card-container .card__link--white {
  color: #fff;
}

.plans .card-container .card--blue {
  background-color: var(--color-blue);
  color: #fff;
  margin-right: 1rem;
}

@media only screen and (max-width: 56.25em) {
  .plans .card-container .card--blue {
    width: 60%;
  }
}

.plans__disclaimer {
  text-align: center;
  color: var(--color-grey-light-2);
}

.plans .subplan:not(:last-child) {
  margin-top: 5rem;
}

.plans .subplan {
  background-color: var(--color-grey-light-1);
  margin-bottom: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 10rem;
}

@media only screen and (max-width: 75em) {
  .plans .subplan__text {
    margin: 0 auto !important;
  }
}

@media only screen and (max-width: 75em) {
  .plans .subplan {
    flex-direction: column;
    justify-content: center;
    height: 15rem;
  }
}

.plans .subplan__heading {
  font-size: 2rem;
}

@media only screen and (max-width: 75em) {
  .plans .subplan__heading {
    text-align: center;
  }
}

.plans .subplan__desc {
  font-size: 1.5rem;
}

@media only screen and (max-width: 75em) {
  .plans .subplan__desc {
    text-align: center;
    margin: 1rem auto !important;
  }
}

.plans .subplan .btn-parent-bg {
  background-color: var(--color-grey-ligt-1) !important;
  padding: 10px 60px !important;
}

@media only screen and (max-width: 75em) {
  .plans .subplan .btn-parent-bg {
    margin: 0 !important;
  }
}

.footer {
  background-color: var(--color-grey-dark);
  color: #fff;
  display: flex;
  flex-direction: row;
}

@media only screen and (max-width: 75em) {
  .footer {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

.footer__right {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

@media only screen and (max-width: 75em) {
  .footer__right {
    width: 100%;
    align-items: center;
  }
}

@media only screen and (max-width: 75em) {
  .footer__right-logo {
    margin: 3rem auto 0 auto !important;
  }
}

.footer__right .socials-container {
  align-self: center;
  display: flex;
}

.footer__right .socials {
  display: flex;
  flex-direction: row;
}

@media only screen and (max-width: 75em) {
  .footer__right .socials {
    margin: 3rem auto 0 auto !important;
  }
}

.footer__right .socials__item {
  list-style: none;
}

.footer__right .socials__item:not(:last-child) {
  margin-right: 2rem;
}

.footer__right .socials__icon {
  fill: #a0a0a0;
}

.footer__navigation-container {
  display: flex;
}

.footer__navigation {
  padding: 7rem 0;
}

@media only screen and (max-width: 56.25em) {
  .footer__navigation {
    display: none;
  }
}

.footer__navigation--heading {
  width: 15rem;
  color: var(--color-blue);
  text-transform: uppercase;
  margin-bottom: 2rem;
}

.footer__navigation--item {
  list-style: none;
}

.footer__navigation--item:not(:last-child) {
  margin-bottom: 1.5rem;
}

.footer__navigation--link {
  text-decoration: none;
  color: var(--color-grey-light-3);
  font-weight: 600;
  font-size: 1.1rem;
}

.footer .collapsible-navigation {
  width: 100%;
  margin-top: 3rem;
  display: none;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

@media only screen and (max-width: 56.25em) {
  .footer .collapsible-navigation {
    display: flex;
  }
}

.footer .collapsible-navigation__button {
  background-color: var(--color-grey-dark);
  color: var(--color-blue);
  border: none;
  border-top: 0.1rem solid var(--color-grey-light-3);
  padding: 2rem 2rem;
  width: 95%;
  font-size: 1.2rem;
  font-weight: 600;
  font-family: inherit;
  text-align: left;
  text-transform: uppercase;
  outline: none;
}

.footer .collapsible-navigation__content {
  margin-left: 3.7rem;
  display: none;
  padding-bottom: 2rem;
  font-size: 1.2rem;
  flex-direction: column;
  align-self: flex-start;
}

.footer .collapsible-navigation__content > li > a {
  color: var(--color-grey-light-1);
}

.clone__disclaimer {
  font-weight: 700;
  text-align: center;
  padding: 0.5rem 0;
  background-color: var(--color-red);
  color: #fff;
}

